.sidenav2 {
    height: 30%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 0;
    background-color: #111 ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.8;
}

.sidenav2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav2 a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.inputLogin{
    margin-left: 5%;
    width: 150px;
}
#btEntrar{
    margin-left: 20%;
    border-radius: 100%;
}
#recuperarSenha{
    font-size: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}