#logo{
    position: fixed;
    z-index: 21;
    top:1%;
    left: 42%;
}
#img{
    position: fixed;
    z-index: 2;
    top: 8rem;
    left: 9%;
}
#quemSomos{
    border: 5px black;
    position: absolute;
    z-index: 1;
    background-color: beige;
    opacity: 0.7;
    top: 8rem;
    left: 9%;
    height: 70%;
    width: 80%;
    overflow: scroll;
}
#titulo{
    position: relative;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
    
}
#conteudo{
    position: inherit;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}
#titulo, #conteudo{
    font-family: cursive;
}